---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
    <p>
    Hi, it is me again, n3tw0rth.
		</p>
		<p>Here are some of my public repos.</p>
    <ul class="list-inside list-disc" role="list">

			<li>
			 <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/n3tw0rth/dotfiles"
				rel="noreferrer"
				target="_blank">n3tw0rth/dotfiles</a
			>
      </li>
			<li>
			 <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/n3tw0rth/fetched"
				rel="noreferrer"
				target="_blank">n3tw0rth/fetched</a
			>
      </li>
			<li>
			 <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/n3tw0rth/completion-notifier"
				rel="noreferrer"
				target="_blank">n3tw0rth/completion-notifier</a
			>
      </li>
			<li>
			 <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/n3tw0rth/lazytf"
				rel="noreferrer"
				target="_blank">n3tw0rth/lazytf</a
			>
      </li>
		</ul>
		<p>
			Check out my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/n3tw0rth"
				rel="noreferrer"
				target="_blank">Github</a
			> profile.
		</p>
	</div>
</PageLayout>
